@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

*{
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
}

.bg-primary-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(14 165 233 / var(--tw-bg-opacity));
}

html {
  scroll-behavior: smooth;
}

@keyframes wave-1 {
  0% {
      margin-left: 0
  }

  to {
      margin-left: -1600px
  }
}

@keyframes wave-2 {
  0%,to {
      transform: translateY(-25px);
  }

  50% {
      transform: translateY(10px)
  }
}

@keyframes move-y{  
  0% { 
      transform: translateY(10)
  }
  100% { 
      transform: translateY(10)
  }
  25% {
      transform: translateY(-10)
  }
}

.animate-wave-1 {
  animation: wave-1 7s linear infinite
}

.animate-wave-2 {
  animation: wave-1 7s linear -.125s infinite,wave-2 7s ease -.125s infinite
}

.animate-move-y {
  animation: move-y 7s ease-in-out infinite;
}



