.hero {
    /*text-align: center;
    background-color: #e8f5e9;
    padding: 4rem 1rem;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background: #e8f5e9;
}

.content {
    max-width: 50%;
}

.image {
    max-width: 50%;
    display: flex;
    justify-content: center;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero span {
    color: #4caf50;
}

.button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}